<html>
    <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    </head>
    <body>
        <h2> Hello {{ username }} </h2>
        <p>
          Welcome to the STARMEX , please verify your account by pressing this button
        </p>
      <a href="http://localhost:8787/api/v1/verify/email?id={{userId}}"> <button id="button">Verify </button></a>
    </body>
</html>

